{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.eslint.json"],
    "ecmaVersion": 2020,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb-typescript",
    "prettier",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "simple-import-sort"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["./src", "./pages"]
      }
    }
  },
  "globals": {
    "React": "writable"
  },
  "rules": {
    "jsx-a11y/click-events-have-key-events": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-nested-ternary": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "import/no-absolute-path": "off",
    "@typescript-eslint/no-shadow": "off",
    "import/prefer-default-export": "off",
    "react/require-default-props": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "linebreak-style": "off",
    "object-curly-newline": "off",
    "quotes": ["error", "double"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-props-no-spreading": "off",
    "no-alert": "off",
    "react/button-has-type": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "simple-import-sort/imports": "error",
    "prefer-destructuring": [
      "error",
      {
        "AssignmentExpression": {
          "array": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "react/jsx-filename-extension": [2, { "extensions": [".ts", ".tsx"] }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
