@tailwind base;
@import "./syntax-highlighting.css";
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #e5deba;
    background: #1a1a1a;
  }
}
